<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.actividadevaluable1">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:label="ActividadEvaluable1"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <activity android:name=".ConfigActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="true" />
        <activity android:name=".CallActivity" android:exported="true" />
        <activity android:name=".AlarmActivity" android:exported="true"/>

        <receiver
            android:name=".AlarmReceiver"
            android:exported="true" />
    </application>
</manifest>
